




@font-face {
    font-family: 'American Typewriter';
    src: url('../fonts/AmericanTypewriter.woff2') format('woff2'),
        url('../fonts/AmericanTypewriter.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'American Typewriter Uppercase';
    src: url('../fonts/AmericanTypewriter-Condensed.woff2') format('woff2'),
        url('../fonts/AmericanTypewriter-Condensed.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  
}


@font-face {
    font-family: 'Herbus';
    src: url('../fonts/Herbus-Regular.woff2') format('woff2'),
        url('../fonts/Herbus-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ohno Fatface 12 Pt Narrow';
    src: url('../fonts/OhnoFatface-12PtNarrow.woff2') format('woff2'),
        url('../fonts/OhnoFatface-12PtNarrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Louize Display';
    src: url('../fonts/../fonts/LouizeDisplay-Italic.woff2') format('woff2'),
        url('../fonts/../fonts/LouizeDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Louize Display';
    src: url('../fonts/LouizeDisplay.woff2') format('woff2'),
        url('../fonts/LouizeDisplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}








.bold {
  font-family: 'Ohno Fatface 12 Pt Narrow';
}
.lite {
  font-family: 'American Typewriter';
}
.lite-upper {
  font-family: 'American Typewriter Uppercase';
}
.louzie-italic {
  font-family: 'Louize Display';
  font-style: italic;
  line-height: 1.2;
}
.herbus {
  font-family: 'Herbus';
}




body {
  font-size: calc( (100vw - 30rem)/50 * 0.5 + 1rem) !important;
  font-family: 'American Typewriter';
  
}











h1, h2 {
  font-size: 3.95vw;
  text-transform: uppercase;
  font-family: 'Ohno Fatface 12 Pt Narrow';
  margin-bottom: 1.5vw;
  line-height: 1;
  @include media-breakpoint-down(xs) {
    font-size: 31px;
    margin-bottom: 15px;
  }
}

h3 {
  font-size: 1.9vw;
  font-family: 'Ohno Fatface 12 Pt Narrow';
  @include media-breakpoint-down(xs) {
    font-size: 23px;
  }
}

h4 {
  font-size: 1.563vw;
  @include media-breakpoint-down(lg) {
    font-size: 1.75vw;
  }
  @include media-breakpoint-down(xs) {
    font-size: 18px;
  }
}

h5 {
  font-size: 1.45vw;
  @include media-breakpoint-down(lg) {
    font-size: 1.45vw;
  }
  @include media-breakpoint-down(xs) {
    font-size: 15px;
  }
}

small, .small {
  font-size: 1vw;
  line-height: 1.3;
  @include media-breakpoint-down(lg) {
    font-size: 1.25vw;
  }
  @include media-breakpoint-down(xs) {
    font-size: 13px !important;
  }
}
.smalls {
  font-size: .86vw;
  @include media-breakpoint-down(lg) {
    font-size: 1.2vw;
  }
  @include media-breakpoint-down(xs) {
    font-size: 13px;
  }
}
.mobil-small {
  
  @include media-breakpoint-down(xs) {
    font-size: 13px !important;
  }
}



a, button {
  font-family: 'Ohno Fatface 12 Pt Narrow';
  font-size: 1.4vw; 
  @include media-breakpoint-down(xs) {
    font-size: 16px;
  }
}
a {
  word-break: break-word;
}

p, input, li {
  font-size: 1.4vw;
  line-height: 1.35;
  margin-bottom: .9rem;
  @include media-breakpoint-down(lg) {
    font-size: 1.45vw !important;
  }
  @include media-breakpoint-down(xs) {
    font-size: 16px !important;
  }
}

.h1 {
  font-size: 5vw;
  margin-bottom: 0;
  @include media-breakpoint-down(xs) {
    font-size: 45px;
  }
}

button {
  cursor: pointer;
  outline: none !important;
}

a {
  color: #000000;
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}


.link {
  font-size: 1.55vw;
  text-transform: uppercase;
  position: relative;
  @include media-breakpoint-down(lg) {
    font-size: 1.30vw;
  }
  @include media-breakpoint-down(xs) {
    font-size: 15px;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: -.2vh;
    left: 0;
    width: 100%;
    height: 3px;
    background-image: url(../media/dot-x.svg);
    @include media-breakpoint-down(xs) {
    }
  }
  &:hover {
    &:after {
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: link;
        animation-name: link;
      }
    }
}


@-webkit-keyframes link {
  0% {
    width: 0;
  }
  
  100% {
    width: 100%;
  }
}

@keyframes link {
  0% {
    width: 0;
  }
  
  100% {
    width: 100%;
  }
}


