doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 404 not found
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/style.css')
    script.
      document.documentElement.className = 'js';
  body.not-found-page
  
    include header
        
    a.logo-box(href="/")
      img(src="media/logo-white.svg")    
    main
      
      
      
      
      
      img.pic-left(src="media/404-1.svg")
      img.pic-right(src="media/404-2.svg")
      .not-found
        
        h2.mb-4.mb-sm-3
          | 404
          br
          | PAGE NOT FOUND
        a.link(href="/") GO TO MAIN PAGE
        
      
      

                  
      
      
      
      
      
      
      
      
      
       
        
        
      
          
                
              
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    script(src="js/jquery.min.js")      
    script(src="js/slick.min.js")
    script(src="js/script.js")