doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title About
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/style.css')
    script.
      document.documentElement.className = 'js';
  body
  
    include header
        
    main
      
      
      
      section.pt-5
        .container.py-5.py-sm-5
          .row.py-sm-5
            
            .col-12.col-sm-7.pl-sm-5
              h2.mt-sm-5 About our Hotel and Design
              p The Sonora Inn features a wonderful variety of historic Sonora, CA hotel rooms and suites.  With seven different room types, we can accommodate any guest or group.  Enjoying a night alone with your loved one? Explore our spacious King suite. Traveling with family? Our two-double or two-queen bed guest rooms can host your entire crew!  We can also accommodate tour groups or wedding parties for those enjoying a special visit to the beautiful Sonora, CA and Yosemite area.

        .about-hero
          img(src="media/about-1.svg")
              
      
      
      
      
      section.pt-sm-5
        .container.pb-5
          .row.pt-5
            .col-12
              hr.solid
              h2.pb-2  see how it looks
              .home-rooms-slider
                .item
                  a(href="products.html/#ada-room")
                    img(src="media/a1.jpg")
                    p.louzie-italic Hotel lumberjack exterior
                .item
                  a(href="products.html/#ada-room")
                    img(src="media/a2.jpg")
                    p.louzie-italic double queen room interior
                .item
                  a(href="products.html/#ada-room")
                    img(src="media/a1.jpg")
                    p.louzie-italic double queen room
                    
                    
                    
      
      section.features.pt-5.pt-sm-0
        .container.mb-5.pt-5.pb-3.pb-sm-5
          .row
            .col-12.col-sm-7
              h2 see more about our amenities
              p All our Sonora, CA hotel rooms are designed to reflect a bygone era.  Victorian design adorns each unique guest room with calm, muted colors throughout and rich accents while our retro-inspired bathrooms feature cool curved edges and unique tiling. Allow our Sonora, CA hotel rooms and suites to cater to your every need. Explore our historic and unique Sonora, CA hotel rooms below.
          
          .row.pt-5
            .col-12.title-border
              hr
              h4.louzie-italic Amenities in every room 
             
          
          .row.pb-sm-5
            .col-12.col-sm-4
              .js-tooltip
                h3.bold 
                  |Cable TVs
                p.js-tooltip-label.louzie-italic the weather declines in September / October)
                
              .js-tooltip
                h3.bold.pr-5
                  |Free Continental Breakfast
                p.js-tooltip-label.louzie-italic The Sonora Inn guests have access to the seasonal pool at our sister property, The Sonora Inn 
                
              .js-tooltip
                h3.bold 
                  |Coffee Maker
                p.js-tooltip-label.louzie-italic The Sonora Inn (Pool open from Memorial Day Weekend until the weather declines in September / October)
                
              .js-tooltip
                h3.bold 
                  |air conditioning
                p.js-tooltip-label.louzie-italic The Sonora Inn guests have access to the seasonal pool at our sister property, The Sonora Inn (Pool open from Memorial Day Weekend until the weather declines in September / October)
                
              .js-tooltip
                h3.bold 
                  |ice machine
                  span *
                p.js-tooltip-label.louzie-italic The Sonora Inn guests have access to the seasonal pool at our sister property, The Sonora Inn (Pool open from Memorial Day Weekend until the weather declines in September / October)
                  
                
             
            .col-12.col-sm-5
              .js-tooltip
                h3.bold 
                  |Hair Dryer
                p.js-tooltip-label.louzie-italic the weather declines in September / October)
                
              .js-tooltip
                h3.bold.pr-5
                  |Complimentary self-parking (uncovered)
                p.js-tooltip-label.louzie-italic The Sonora Inn guests have access to the seasonal pool at our sister property, The Sonora Inn 
                
              .js-tooltip
                h3.bold 
                  |Free Local Telephone Calls
                p.js-tooltip-label.louzie-italic The Sonora Inn (Pool open from Memorial Day Weekend until the weather declines in September / October)
                
              .js-tooltip
                h3.bold 
                  |access to the seasonal
                  span *
                p.js-tooltip-label.louzie-italic (Pool open from Memorial Day Weekend until the weather declines in September / October)
                
              .js-tooltip
                h3.bold 
                  |pet friendly
                  span *
                p.js-tooltip-label.louzie-italic At our sister property, The Sonora Inn morial Day Weekend until the weather declines in September
            
           
            .col-12.col-sm-3
              .js-tooltip
                h3.bold 
                  |Alarm Clock
                p.js-tooltip-label.louzie-italic the weather declines in September / October)
                
              .js-tooltip
                h3.bold.pr-5
                  |Iron/Ironing 
                  br
                  |Board
                p.js-tooltip-label.louzie-italic The Sonora Inn guests have access to the seasonal pool at our sister property, The Sonora Inn 
                
              .js-tooltip
                h3.bold 
                  |Refrigerator
                p.js-tooltip-label.louzie-italic The Sonora Inn (Pool open from Memorial Day Weekend until the weather declines in September / October)
                
              .js-tooltip
                h3.bold 
                  |microwave
                  span *
                p.js-tooltip-label.louzie-italic (Pool open from Memorial Day Weekend until the weather declines in September / October)
                
              .js-tooltip
                h3.bold 
                  |non-smoking rooms
                  span *
                p.js-tooltip-label.louzie-italic At our sister property, The Sonora Inn morial Day Weekend until the weather declines in September
                
                
              hr.d-sm-none.mt-5
            
            
            
            
            
             
          
      
      
      
      
      
      
      
      section.pt-4.pt-sm-5.orange-bg
        .container.mb-5.pt-sm-5
          
          .row.justify-content-center
            .col-12.col-sm-10.px-sm-5
              .row
                .col-12.col-md-12.pt-3.pt-sm-0.pr-5
                  h2 Our House policies
              
              hr.mt-0.mb-2.my-sm-3
              .row.pt-2
                .col-12.col-sm-6
                  h5.bold.text-uppercase.mb-0.mb-sm-2 Check-in
                  h2.mb-0.mb-sm-3 4:00 PM
                  p.pr-5.louzie-italic Early check-in is offered based on availability. Additional day charge, plus tax may apply for early check-in
                .col-12.col-sm-6
                  h5.bold.text-uppercase.mb-0.mb-sm-2 Check-out
                  h2.mb-0.mb-sm-3 11:00 aM
                  p.pr-5.louzie-italic.mb-0.mb-sm-2 Additional day charge, plus tax may apply for late check-out


              hr.d-none.d-sm-block
              .row.d-none.d-sm-flex
                .col-12.col-sm-6.my-2.my-sm-0
                  h3.text-uppercase.pr-4.pr-0
                    | Credit Card required at 
                    br
                    | booking and check-in
                  
                .col-12.col-sm-6
                  h3.text-uppercase 
                    |Prepaid & Debit cards
                    br
                    |are not accepted
                  
              hr
              .row.pt-2
                .col-12.col-sm-6
                  h5.bold.text-uppercase.mb-0.mb-sm-2 Cancellation policies:
                  p.pr-5.louzie-italic 48-hour cancellation policy
                  
                  
                .col-12.col-sm-6
                  h5.bold.text-uppercase.mb-0.mb-sm-2 Smoking in guest rooms:
                  p.louzie-italic incurs a $500 cleaning fee.
                  
              hr.d-sm-none.mt-0
              
              .row.d-sm-none
                .col-12.col-sm-6.my-2.my-sm-0
                  h3.text-uppercase.pr-4.pr-0
                    | Credit Card required at 
                    | booking and check-in
                .col-12.col-sm-6
                  h3.text-uppercase Prepaid & Debit cards are not accepted
                  
          
          .row.py-1.py-sm-5.my-3.justify-content-center
            .col-12.col-sm-5
              .dotted.pl-3.pl-sm-5.pr-3.pr-sm-5.pt-4.pb-4
                h5.bold.text-uppercase Damage:
                p.small Any damage to hotel property and amenities, whether accidental or willful, is the responsibility of the registered guest for each particular room. Any costs associated with repairs and/or replacement will be charged to the credit card of the registered guest. In extreme cases, criminal charges will be pursued.

            
             
            
      
      
      
      
       
        
        
      include footer
          
  
  
  
  
  
  
  
  
  
  
  
  
    script(src="js/jquery.min.js")      
    script(src="js/slick.min.js")
    script(src="js/script.js")