doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title ACCESSIBILITY
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/style.css')
    script.
      document.documentElement.className = 'js';
  body
  
    include header
        
        
    main
      
      
      
      
      
      section.my-5.py-5
        .container.content-bordered.my-5.py-sm-5
          .box-bg
          .border-first
          .border-second
          .row.pt-5.pb-4.justify-content-center
            .col-11.col-sm-10
              
              h2.pr-5 The Sonora Inn Team Cares About Accessibility
              p Our goal is to provide hospitality to all people who travel to Sonora, CA. This means everyone. Our mission is to make it as easy as possible for all people including those with hearing, vision, or any other disability to learn about our property and book their stay.
              p If you have difficulty learning about or booking our hotel, we invite you to contact us via telephone or email and our friendly staff will gladly assist.
              
              p
                a.lite(href="https://www.google.com/maps/place/Baymont+by+Wyndham+Modesto+Salida/@37.6974667,-121.070437,15z/data=!4m5!3m4!1s0x0:0xbec0a539c9767ec5!8m2!3d37.6974667!4d-121.070437" target="_blank") 160 S Washington St,Sonora,CA 95370
              p
                a.lite(href="tel:2095322400" target="_blank") 209-532-2400
              p
                a.lite(href="mailto:info@thesonorainn.com" target="_blank") info@thesonorainn.com
                
                
                
              p 
                |We work very hard to provide an easy-to-use online experience for all guests. We believe all of our website visitors should be able to easily research online on 
                a.lite(href="https://www.thesonorainn.com " target="_blank") https://www.thesonorainn.com 
                |regardless of device type and whether an individual requires assistive technology like a screen reader, font magnification, translation or voice recognition software.
                
              p 
                |If you have any questions or would like to report any issues related to the accessibility features of our hotel’s website, please contact us at 
                a.lite(href="mailto:info@thesonorainn.com" target="_blank") info@thesonorainn.com
              
              
              br
              h3.bold.text-uppercase.mb-4 Our Hotel Offers The Following Accessibility Features
      
              .row
                .col-12.col-sm-6
                  h5.bold.text-uppercase Property Accessibility Features
                  ul.pl-4
                    li Accessible Meeting Rooms
                    li Accessible Public Restroom
                    li Breakfast Area on Ground Floor
                    li Breakfast Attendant to Assist in Serving
                    li Connecting Rooms Available
                    li ADA Accessible Guest Room
                    li On-Site Designated Accessible Parking
                    li Service Animals Allowed
                    li Wheelchair Accessible
                    li ADA Accessible Elevator
                .col-12.col-sm-6
                  h5.bold.text-uppercase Property Accessibility Features
                  ul.pl-4
                    li Wheelchair Accessible
                    li Service Animals Allowed
                    li Accessible Path of Travel Around Beds
                    
                  
              br    
              h3.bold.text-uppercase.mb-4 Accessibility References
              ul.pl-4
                li
                  a.lite(href="https://www.w3.org/WAI/" target="_blank") Web Content Accessibility Guidelines (WCAG) 2.0
                  |, which explains the reasons behind each guideline.
                li 
                  a.lite(href="https://section508.gov" target="_blank") Section 508
                  |, Information and news about the accessibility standards introduced by Section 508 of the Rehabilitation Act.
                
              
              
              br
              h3.bold.text-uppercase.mb-4 Accessibility Software and Services
              p The following tools and services are available for free to assist you with viewing and interacting with our website:
              ul.pl-4
                li
                  | Click Here for 
                  a.lite(title='Open Link' href='http://validator.w3.org/' target='_blank' rel='nofollow noopener noreferrer') HTML Validator
                  | , a free service for checking that web pages conform to published HTML standards.
                li
                  | Click Here for 
                  a.lite(title='Open Link' href='https://www.delorie.com/web/wpbcv.html' target='_blank' rel='nofollow noopener noreferrer') Web Page Backward Compatibility Viewer
                  | , a tool for viewing your web pages 
                  em without 
                  | a variety of modern browser features.
                li
                  | Click Here for 
                  a.lite(title='A Free Text-Only Web Browser' href='http://lynx.browser.org/' target='_blank' rel='nofollow noopener noreferrer') Lynx
                  | , a free text-only web browser.
                  
                  
              br
              h3.bold.text-uppercase.mb-4 Browser Help
              p Optimize the way you view your web browser. If you have difficulty in reading The Sonora Inn website on your screen, you may be able to change the settings on your browser to help you improve readability and visibility of each webpage:
              p Learn about the Accessibility features of these major Internet Browsers below:
              ul.pl-4
                li
                  strong Mozilla Firefox: 
                  a.lite(title='Open Link' href='https://support.mozilla.org/en-US/kb/accessibility-features-firefox-make-firefox-and-we' target='_blank' rel='nofollow noopener noreferrer') Mozilla Firefox Accessibility Features
                li
                  strong Google Chrome: 
                  a.lite(title='Open Link' href='https://www.google.com/accessibility/products-features.html' target='_blank' rel='nofollow noopener noreferrer') Google Accessibility Features
                li
                  strong Internet Explorer: 
                  a.lite(title='Open Link' href='https://support.microsoft.com/en-us/help/17456/windows-internet-explorer-ease-of-access-options' target='_blank' rel='nofollow noopener noreferrer') Microsoft Internet Explorer Ease of Access Options
                li
                  strong Apple Safari: 
                  a.lite(title='Open Link' href='https://support.apple.com/accessibility' target='_blank' rel='nofollow noopener noreferrer') Apple Accessibility Support


              
              
              
              
                
              








      
      
      
       
        
        
      include footer
              
          
                
              
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    script(src="js/jquery.min.js")      
    script(src="js/slick.min.js")
    script(src="js/script.js")