doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Contact
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/style.css')
    script.
      document.documentElement.className = 'js';
  body
  
    include header
        
        
    main
      
      
      
      
      
      section.mt-5.mb-0.mb-sm-5.py-5.px-3.px-sm-0
        .container.my-sm-5.py-sm-5.contact-box.position-relative
          .b-top
          .b-bottom
          .b-left
          .b-right
          .row.pt-4.pt-sm-5.pb-4.justify-content-center
            .col-12.col-sm-10
              h2.pr-5 Have a question? fill out the form and we will answer you shortly
              
              .contact-form.pt-sm-0
                .row
                  .col-12
                    .text-input
                      input(type="text" required)
                      label Name
                      
                .row
                  .col-12.col-sm-6
                    .text-input
                      input(type="email" required)
                      label Email
                  .col-12.col-sm-6
                    .text-input
                      input(type="number" required)
                      label Phone number
                .row
                  .col-12
                    textarea(placeholder="Please tell us about your needs")
                    
                    input.sumbit(type="submit" value="SUBMIT")
        .pb-5.pb-sm-0
      
      

                  
      
      
      
      
      
      
      
      
      
       
        
        
      include footer
              
          
                
              
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    script(src="js/jquery.min.js")      
    script(src="js/slick.min.js")
    script(src="js/script.js")