footer
  .container
    .row
      .col-12.py-2.py-sm-5
        hr
        h2.pb-sm-4 follow me
        .inst-slider
          .item
            a(href="products.html/#ada-room")
              img(src="media/inst-1.jpg")
          .item
            a(href="products.html/#ada-room")
              img(src="media/inst-2.jpg")
          .item
            a(href="products.html/#ada-room")
              img(src="media/inst-3.jpg")
          .item
            a(href="products.html/#ada-room")
              img(src="media/inst-4.jpg")

    .row.mt-5.d-none.d-sm-flex
      .col-sm-9.menu-links
        a(href="rooms.html") Rooms •  
        a(href="about.html")  about hotel • 
        a(href="locations.html") Explore Sonara • 
        a(href="contact.html") events
      .col-sm-3.text-right
        a(href="") book a room

    


    hr.mt-0
    .row.pt-1
      .col-6.col-sm-4
        a.logo-lumber(href="")
          img(src="media/sonara-logo-footer.svg")
    .row.mb-3.mt-4.align-items-end
      .col-12.col-sm-4
        
        p.m-0.adress
          a.lite(href="") 160 S Washington St, Sonora, CA
          a.lite(href="tel:129") +1 209 532 2400
          a.lite(href="") hello@sonorahotel.com
      //.col-6.col-sm-4.social.text-right.pl-sm-0.order-sm-4
      .col-12.col-sm-4.social.text-sm-right.pl-sm-0.order-sm-3.pt-3.pt-sm-0
      
        a(href="")
          img(src="media/ta.svg")
        a(href="")
          img(src="media/ig.svg")
        a(href="")
          img(src="media/tw.svg")
        a(href="")
          img(src="media/fb.svg")
      
        

      .col-12.col-sm-4.pt-5.pt-sm-0.pb-1
        .px-sm-5
          h4.bold.m-0 SIGN UP FOR UPDATES:
          form.footer-signup
            input.footer-signup-input(type="email" placeholder="your e-mail")
            input.footer-signup-sumbit.bold(type="submit" value="↳")
              
      
      
    .row.pt-5(style="margin-bottom: -1vw;")
      .col-12.text-center
        a.sonara-logo(href="")
          img(src="media/lumber-hotel-logo-footer.svg")
        
    .row.align-items-end.pb-4.d-none.d-sm-flex
      .col
        p.small.m-0.text-uppercase © 2021 Sorara INN All Rights Reserved
      .col.text-center
        p.small.m-0.text-uppercase Hotel-companion
      .col.text-right
        a.lite.small.text-uppercase.pr-3(href="accessibility.html") Accessibility
        a.lite.small.text-uppercase(href="privacy.html") Privacy policy
        
    .row.pb-3.d-sm-none
      .col-3.pr-0
        a.lite.small.text-uppercase.mobil-small-text(href="privacy.html") Privacy policy
      .col-6.text-center
        p.small.m-0.text-uppercase.mobil-small-text Hotel-companion
      .col-3.pl-0.text-right
        a.lite.small.text-uppercase.mobil-small-text(href="accessibility.html") Accessibility
      .col-12.pt-4.text-center
        p.mobil-small-text.m-0.text-uppercase © 2021 Sorara INN All Rights Reserved
      
        
        
        
        
