doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Group
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/style.css')
    script.
      document.documentElement.className = 'js';
  body
  
    include header
        
        
    main
      
      
      section.pt-5
        .container.py-4.py-sm-5
          .row.pt-sm-5
            
            .col-12.col-sm-6.pl-sm-5.order-sm-6
              h2.mt-sm-5 fARRANGE YOUR PARTY IN SONORA INN 
              p Thank you for your interest in choosing The Sonora Inn for your next party, corporate meeting or other special events. The Sonora Inn is happy to host many small to medium social events in our 624 SF party space in Sonora, CA. We have hosted a number of baby showers, family reunions, bridal showers, small corporate meetings, and breakout sessions. 
              p.small We’d be thrilled to host your upcoming event with our accommodating event staff. Guest rooms are also available at a discounted rate should you need to provide sleeping rooms for your event guests. Please see the below floor plan options with our capacity availability and feel free to use the below form to submit a request for your next party or event in Sonora, CA!
            .col-12.col-sm-6.order-sm-1
              .p-5
                img(src="media/group-1.svg")
              
              
      
      section
        .container.pb-5
          .row.pt-5
            .col-12
              hr.solid
              h2.pb-2  Explore the space
              .home-rooms-slider
                .item
                  a(href="products.html/#ada-room")
                    img(src="media/a1.jpg")
                    p.louzie-italic Hotel lumberjack exterior
                .item
                  a(href="products.html/#ada-room")
                    img(src="media/a2.jpg")
                    p.louzie-italic double queen room interior
                .item
                  a(href="products.html/#ada-room")
                    img(src="media/a1.jpg")
                    p.louzie-italic double queen room
                    
                    
                    
      
      section.features 
        .container.pt-5
          
          .row 
            .col-12.title-border
              hr
              h4.louzie-italic Capacity Availability
          .row.mb-3.text-center
            .col-12.col-sm-4
              h3 Standing Cocktail
              p.louzie-italic 50 persons
              
            .col-12.col-sm-4
              h3 Theater style with Rostrum and a side desk
              p.louzie-italic 45 persons
              
            .col-12.col-sm-4
              h3 Boardroom Style
              p.louzie-italic 24 persons
              
          
          .row.text-center
            .col-12.col-sm-4
              h3 Classroom Style
              p.louzie-italic 34 persons
              
            .col-12.col-sm-4
              h3 
                |Cluster Style 
                br
                |(square tables)
              p.louzie-italic 28 persons
              
            .col-12.col-sm-4
              h3 Hollow Boardroom
              p.louzie-italic 30 persons
              
              
            
      
      
      section.features 
        .container.pt-5
          
          .row 
            .col-12.title-border
              hr
              h4.louzie-italic Event Amenities 
          .row.mb-3
            .col-12.col-sm-3
              h2.h1.herbus 1.
              h3 
                | outside catering
              p.pr-4.louzie-italic Please let us know if you will require a caterer and we can provide local contacts.
            .col-12.col-sm-3
              h2.h1.herbus 2.
              h3 
                |Drinks service
              p.pr-3.louzie-italic Coffee, Tea and Water service is available.
            .col-12.col-sm-3
              h2.h1.herbus 3.
              h3 
                |Group rooms 
              p.louzie-italic Group rooms for a discounted room rate. Please let the event staff know if you will require room accommodations for your event.
            .col-12.col-sm-3
              h2.h1.herbus 4.
              h3 audio and visual
              p.pr-3.louzie-italic Please let us know if you will require AV and we can provide a full AV menu with options and associated rates.
          
            
                  

              
        
      
      
      section.mb-0.mb-sm-5.py-5.px-sm-3
        .container.content-bordered.my-sm-5.py-sm-5
          
          .row.pt-3.pt-sm-4.pb-4.justify-content-center
            .col-12.col-sm-10
              h2.pr-5 Fill out the form and we will answer you shortly
              
              .contact-form.pt-2.pt-sm-4.pt-sm-0
                
                .row
                  .col-12
                    .text-input
                      input(type="text" required)
                      label Name
                      
                .row
                  .col-12.col-sm-6
                    .text-input
                      input(type="email" required)
                      label Email
                  .col-12.col-sm-6
                    .text-input
                      input(type="number" required)
                      label Phone number
                .row
                  .col-12.col-sm-6
                    .text-input
                      input(type="text" required)
                      label Start date of an event
                  .col-12.col-sm-6
                    .text-input
                      input(type="text" required)
                      label How many guests
                
                .row
                  .col-12
                    textarea(placeholder="Please tell us about group or event needs")
                    
                    input.sumbit(type="submit" value="SUBMIT")
      
      
      

                  
      
      
      
      
      
      
      
      
      
       
        
        
      include footer
              
          
                
              
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    script(src="js/jquery.min.js")      
    script(src="js/slick.min.js")
    script(src="js/script.js")