doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Win
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/slick-lightbox/0.2.12/slick-lightbox.css')
    

    script.
      document.documentElement.className = 'js';
  body.home
    include header
     
   
 
     
    main
      
      section.hero
        .hero-logo
          svg(width='1323' height='216' viewBox='0 0 1323 216' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M33.3557 212.364H66.1554C76.1621 198.744 81.4434 181.51 81.4434 161.775C81.4434 132.589 65.3215 118.969 46.142 98.6772C35.3014 87.2807 25.8506 78.6638 25.8506 55.8707C25.8506 39.4709 38.637 22.793 59.2063 22.793C78.9417 22.793 90.6162 35.8573 91.4501 55.8707H116.467C117.023 21.6812 92.006 0 59.2063 0C26.4066 0 0 23.9049 0 55.8707C0 87.2807 16.1219 103.403 26.9625 115.077C41.4166 132.033 54.7589 141.206 54.7589 165.389C54.7589 181.788 48.0877 198.188 33.3557 212.364Z' fill='#F7D23A')
            path(d='M185.219 215.7C245.816 215.7 291.958 167.612 291.958 107.85C291.958 48.0877 245.816 0 185.219 0C124.623 0 78.4814 48.0877 78.4814 107.85C78.4814 167.612 124.623 215.7 185.219 215.7ZM185.219 191.239C139.355 191.239 104.888 155.104 104.888 107.85C104.888 60.8741 139.355 24.4608 185.219 24.4608C231.084 24.4608 265.551 60.8741 265.551 107.85C265.551 154.826 231.084 191.239 185.219 191.239Z' fill='#F7D23A')
            path(d='M296.216 212.364H320.677V44.4742H321.233L436.866 212.364H462.439V3.33557H437.978V168.724H437.422L323.457 3.33557H296.216V212.364Z' fill='#F7D23A')
            path(d='M573.392 215.7C633.988 215.7 680.13 167.612 680.13 107.85C680.13 48.0877 633.988 0 573.392 0C512.796 0 466.654 48.0877 466.654 107.85C466.654 167.612 512.796 215.7 573.392 215.7ZM573.392 191.239C527.528 191.239 493.06 155.104 493.06 107.85C493.06 60.8741 527.528 24.4608 573.392 24.4608C619.256 24.4608 653.723 60.8741 653.723 107.85C653.723 154.826 619.256 191.239 573.392 191.239Z' fill='#F7D23A')
            path(d='M733.032 137.87C767.777 125.084 783.343 105.348 783.343 74.4943C783.343 29.4642 749.71 3.33557 686.056 3.33557H684.388V212.364H708.849V135.646C717.466 174.839 747.208 202.636 792.238 212.364V187.904C764.998 181.51 744.151 164.277 733.032 137.87ZM708.849 26.9625C741.093 28.3523 759.716 46.9759 759.716 74.4943C759.716 101.735 738.035 118.969 708.849 123.416V26.9625Z' fill='#F7D23A')
            path(d='M790.492 212.364H815.509C815.787 190.961 817.177 169.836 821.346 149.823H892.227V212.364H917.8V3.33557C824.682 49.1996 790.492 115.633 790.492 212.364ZM827.739 127.029C838.58 98.3992 856.926 70.8808 892.227 47.5318V127.029H827.739Z' fill='#F7D23A')
            path(d='M983.339 212.364H1007.8V3.33557H983.339V212.364Z' fill='#F7D23A')
            path(d='M1014.47 212.364H1038.93V44.4742H1039.49L1155.12 212.364H1180.69V3.33557H1156.23V168.724H1155.68L1041.71 3.33557H1014.47V212.364Z' fill='#F7D23A')
            path(d='M1156.17 212.364H1180.63V44.4742H1181.18L1296.82 212.364H1322.39V3.33557H1297.93V168.724H1297.37L1183.41 3.33557H1156.17V212.364Z' fill='#F7D23A')


          
          
          
        //.hero-gallery
          .hero-item.i-one-one
            img(src='media/hero/5.jpg')
          .hero-item.i-one-two
            img(src='media/hero/6.jpg')
          .hero-item.i-one-three
            img(src='media/hero/3.jpg')
          .hero-item.i-one-four
            img(src='media/hero/4.jpg')
          .hero-item.i-one-five
            img(src='media/hero/1.jpg')
            
            
          .hero-item.i-two-one
            img(src='media/hero/2.jpg')
          .hero-item.i-two-two
            img(src='media/hero/7.jpg')
          .hero-item.i-two-three
            img(src='media/hero/8.jpg')
          .hero-item.i-two-four
            img(src='media/hero/9.jpg')
          .hero-item.i-two-five
            img(src='media/hero/10.jpg')
            

          .hero-item.i-three-one
            img(src='media/hero/11.jpg')
          .hero-item.i-three-two
            img(src='media/hero/12.jpg') 
          .hero-item.i-three-three
            img(src='media/hero/13.jpg')
          .hero-item.i-three-four
            img(src='media/hero/14.jpg')
          .hero-item.i-three-five
            img(src='media/hero/15.jpg')
            
            
            
          
          .hero-item.i-four-one
            img(src='media/hero/16.jpg')
          .hero-item.i-four-two
            img(src='media/hero/17.jpg') 
          .hero-item.i-four-three
            img(src='media/hero/18.jpg')
          .hero-item.i-four-four
            img(src='media/hero/19.jpg')
          .hero-item.i-four-five
            img(src='media/hero/20.jpg')  
            
            
            
            
            
            
            
      
      
      section.explore
        .py-5
        .container
          .b-top
          .b-bottom
          .b-left
          .b-right
          .row.pt-5.pl-sm-5.pr-sm-3
            .col-12.col-sm-6.pt-sm-4.pl-4.pr-4.pr-sm-3.pl-sm-4.pb-sm-5
              h2 
                |WELCOME TO THE
                br
                |SONORA INN
              p Welcome to The Sonora Inn historic hotel in downtown Sonora, CA. The Sonora Inn was built in 1896 and originally named the Hotel Victoria. The Inn’s rich historic charm and small-town hospitality has lured and played host to many celebrities including Grace Kelly during the filming of High Noon and more recently Drew Barrymore while she worked on the film Bad Girls.
              p.small.italic.mb-4 The hotel’s architecture has been changed over the years from Victorian to now the popular California Mission style of the 1920’s that hosted Hollywood’s elite during the golden era of tourism and film making. Please enjoy our site and visit our hotel soon to see what makes the Sonora Inn so charming and unique.
              a.link(href="test.html") More about hotel
            .col-12.col-sm-6.pt-sm-4
              img.explore-hero-cloud.mt-sm-4(src="media/main-3.png")
            .col-12.text-right.pr-sm-4 
              img.explore-hero(src="media/main-1.png")
        .py-sm-5
        .pb-3
        
        
        
        
      
      
      
      
      
      
      section
        .container
          .row.pt-5.pb-4.pb-sm-0
            .col-12
              hr.solid
              h2.pb-2  Meet our rooms
              .home-rooms-slider
                .item
                  img.open-modal(src="media/room1.jpg")
                  .lightbox-container
                    h3.bold.lightbox-title ADA ROOM
                    .link-box
                      a.link(href="") more about this room
                    .lightbox-slider
                      .item
                        img(src="media/room1.jpg")
                      .item
                        img(src="media/room2.jpg")
                      .item
                        img(src="media/room2.jpg")
                  p.louzie-italic Ada Room
                  
                  
                .item
                  img.open-modal(src="media/room2.jpg")
                  .lightbox-container
                    h3.bold.lightbox-title Double Queen room
                    .link-box
                      a.link(href="") more about this room
                    .lightbox-slider
                      .item
                        img(src="media/room2.jpg")
                      .item
                        img(src="media/room2.jpg")
                      .item
                        img(src="media/room2.jpg")
                  p.louzie-italic Rouble Rueen Room
                .item
                  img.open-modal(src="media/room3.jpg")
                  .lightbox-container
                    h3.bold.lightbox-title double queen
                    .link-box
                      a.link(href="") more about this room
                    .lightbox-slider
                      .item
                        img(src="media/room3.jpg")
                      .item
                        img(src="media/room3.jpg")
                      .item
                        img(src="media/room3.jpg")
                  p.louzie-italic Double Queen
        .py-5
      
      
      
     
      section.hello.pt-3.pb-5
        .container.py-4.py-sm-5
          .row.py-sm-5
            
            .col-12.col-md-6.order-md-6.pl-sm-4
              h2.pr-5.pr-sm-0 Explore Historic Sonora and Our Surroundings
              p.mb-1.mb-4 Whether you are a history buff, a fan of everything outdoors, a gambler, a shopping fiend, or someone that has to do and see it all, Sonora is the perfect place for you. Our local area of downtown Sonora, offers a vibrant local community with arts, shopping, dining, history, and nature, and on top of all that, we are a short drive from Yosemite, one of the most beautiful national parks in the country. 
              
              a.link(href="about.html") Learn more
            .col-12.col-md-6.px-sm-4.order-md-1.pt-4.pt-sm-0
              img.hello-hero(src="media/main-2.svg")
      
        
        
         
         
         
         
              
     
     
      

      section.main-quote.pt-4
        .container.pt-5
          .row.justify-content-center.pt-5
            .col-10.col-sm-9
              span.slider-quote-icon(style="background-image: url(media/quote.png);")
              .slider-quote
                .item
                  h2 There are several downtown hotels such as the Sonora Inn and Gunn House, from which guests can easily walk to restaurants and shops.
                .item
                  h2 There are several downtown hotels such as the Sonora Inn and Gunn House, from which guests can easily walk to restaurants and shops.
              
              hr.pb-2.mt-2
              
              .slider-quote-footer
                .item
                  img.quote-logo-one(src="media/Los_Angeles_Times_logo.svg")
                  p.pt-1.louzie-italic – Los Angeles Times, April 12, 2018
                .item
                  img.quote-logo-one(src="media/Los_Angeles_Times_logo.svg")
                  p.pt-1.louzie-italic – Another Slide Text Description

        .py-5
        .py-4
       
        
        
      
      
      
      include footer
          
    .modal-box  
      .close-modal-lightbox
      .modal-container
      
      
             
  
  



  
  
  
    
  
  
  
  
  
  
  
 
  
  
    script(src="js/jquery.min.js")      
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-lightbox/0.2.12/slick-lightbox.min.js")
    script(src="js/slick.min.js")
    script(src="js/script.js")
    
    
    script.
        (function () {
          var params = {"propertyId":"754508"};
          var paramsArr = [];
          var pl2 = document.createElement("script");
          for(key in params) { paramsArr.push(key + "=" +
          encodeURIComponent(params[key])) };
          pl2.type = "text/javascript";
          pl2.async = true;
          pl2.src = "https://www.ada-tray.com/adawidget/?" +
          btoa(paramsArr.join("&"));
          (document.getElementsByTagName("head")[0] ||
          document.getElementsByTagName("body")[0]).appendChild(pl2);
        })();
        