doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Locations
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/style.css')
    script.
      document.documentElement.className = 'js';
  body
  
    include header
        
        
    main
    
    
      section.pt-5.mt-3
        .container.pt-4.pt-sm-5
          .row.pt-sm-5.pb-4
            .col-12.col-md-6.pr-sm-5
              h2 Discover Sonora and Our Region
              img.my-3.my-sm-5(src="media/location-1.png")
              p.pr-4 The City of Sonora, California was founded in 1848 by Mexican gold miners. Word got out, and immigrants soon came from Europe and China in the search of wealth, bringing their own culture and influence into the dramatic landscape of California’s Sierra Foothills.  Sonora continues to be at the heart of the Gold Country, located on the mythic Highway 49 and is within a close drive to Yosemite National Park. 
              p.small.font-italic.pr-sm-5 Downtown Sonora also boasts several great restaurants from ramen, to authentic Thai cuisine, delicious Mexican fare and of course amazing burgers and fries. Sonora has a lively nightlife for visitors and locals alike. Our guests also love to peruse the local galleries and antique shops on Washington Street or catch a play at Sierra Repertory Theater. And, if you’re here for work, our rooms have several seating areas to ensure you’re comfortable and productive. Feel free to use our interactive map below to discover the best things to do in and around town. 
            .col-12.col-md-6
              img.mt-sm-5.mx-auto.d-sm-none.mb-4.mb-sm-3.mb-sm-0(src="media/location-2.png" style="width: 95%;")
              p.pr-sm-5 The city’s town and charm still resemble an Old Western town and has been the backdrop for many movies, perhaps the most famous being High Noon, staring Gary Cooper, Grace Kelly and Katy Jurado. Most visitors come to Sonora and surrounding Tuolumne County to visit its many museums and understand its rich history at Columbia State Park, or go for mountain adventures: hiking, kayaking, rock climbing and skiing at neighboring Dodge Ridge.
              img.mt-5.mx-auto.d-none.d-sm-block(src="media/location-2.png" style="width: 95%;")
      
    
      
      section.py-5
        .container.pb-5.pt-5
          .row
            .col-12
              .map-container
                
                .map-nav
                  #accordion.accordion-container
                    h2.accordion-title.js-accordion-title.accordion-first-title attractions
                    .accordion-content
                      .markers(data-location-type="attractions")
                    h2.accordion-title.js-accordion-title Food & Drinks
                    .accordion-content
                      .markers(data-location-type="food-and-drinks")
                    h2.accordion-title.js-accordion-title Source code
                    .accordion-content
                      .markers(data-location-type="shopping-and-care")
                #map-canvas


          .row.mb-3
            .col-12.pt-5.pb-4.text-center
              a.link(href="products.html/#ada-room") Download map in pdf




                  
      
      
      
      
      
      
      
      
      
       
        
        
      include footer
  
  
  
  

  
  
  
  
  
  
  
  
  
    script(src="js/jquery.min.js")      
    
    script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD5k6DzqCgLCHCJI8phuw1VPA5s74v-eaE')
    //script(src="http://maps.googleapis.com/maps/api/js?sensor=true")
    script(src="js/map.js")
    script(src="js/slick.min.js")
    script(src="js/script.js")