doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title About
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/style.css')
    script.
      document.documentElement.className = 'js';
  body
  
    include header
        
        
    main
    
      
      section.pt-3.pt-sm-5
        .container.pb-5.pt-5.mt-4
          .row
            .col-12.px-0.px-sm-3
              .rooms-slider
                .item
                  img(src="media/room1.jpg")
                .item
                  img(src="media/room2.jpg")
                .item
                  img(src="media/room3.jpg")
              .rooms-hero
                .room-hero-text-box.pt-3.pt-sm-4
                  p.louzie-italic.mb-2 Starting from 19$ per night
                  h2.mb-3 historic double rooms 
                  p.pb-4 Our Historic Double Bedrooms are perfect for the solo traveler. Featuring one double bed, the Single Double Bed guest room is perfect for your next business meeting or solo-adventure to the Yosemite, CA region.
                
                  

                a.book-button(href="products.html/#ada-room") book this room
                
      
      
      section.pb-5
        .container.pt-5.mt-4
          .row
            .col-12.px-0.px-sm-3
              .rooms-slider
                .item
                  img(src="media/room1.jpg")
                .item
                  img(src="media/room2.jpg")
                .item
                  img(src="media/room3.jpg")
              .rooms-hero
                .room-hero-text-box.pt-3.pt-sm-4
                  p.louzie-italic.mb-2 Starting from 19$ per night
                  h2.mb-3 historic queen rooms 
                  p.pb-4 Our Historic Queen Bedroom is a bit larger than our Historic Double Bed Room and features one Queen bed and all in-room amenities listed below.  The Historic Queen Bedroom is popular with solo travelers or couples.
                a.book-button(href="products.html/#ada-room") book this room
                
                
      
      section.pb-5
        .container.pt-5.mt-4
          .row
            .col-12.px-0.px-sm-3
              .rooms-slider
                .item
                  img(src="media/room1.jpg")
                .item
                  img(src="media/room2.jpg")
                .item
                  img(src="media/room3.jpg")
              .rooms-hero
                .room-hero-text-box.pt-3.pt-sm-4
                  p.louzie-italic.mb-2 Starting from 19$ per night
                  h2.mb-3 historic two doubles 
                  p.pb-4 Our Historic Two Double Bedroom is our smallest two bedded Sonora, CA hotel room type.  For your next family trip to Yosemite Park or group tour to historic Sonora, CA and the surrounding area, choose the Historic Two Double Bedroom.
                a.book-button(href="products.html/#ada-room") book this room
                
                
                
      section.pb-5
        .container.pt-5.mt-4
          .row
            .col-12.px-0.px-sm-3
              .rooms-slider
                .item
                  img(src="media/room1.jpg")
                .item
                  img(src="media/room2.jpg")
                .item
                  img(src="media/room3.jpg")
              .rooms-hero
                .room-hero-text-box.pt-3.pt-sm-4
                  p.louzie-italic.mb-2 Starting from 19$ per night
                  h2.mb-3 historic KING ROOMS 
                  p.pb-4 The Historic King Room is one of our largest single bedded Sonora, CA hotel rooms at the Sonora Inn.  For your next upcoming romantic visit or solo business trip, choose our comfortable and clean Historic King Bedroom which features a large King bed.
                a.book-button(href="products.html/#ada-room") book this room  
                
                
      section.pb-5
        .container.pt-5.mt-4
          .row
            .col-12.px-0.px-sm-3
              .rooms-slider
                .item
                  img(src="media/room1.jpg")
                .item
                  img(src="media/room2.jpg")
                .item
                  img(src="media/room3.jpg")
              .rooms-hero
                .room-hero-text-box.pt-3.pt-sm-4
                  p.louzie-italic.mb-2 Starting from 19$ per night
                  h2.mb-3 historic TWO QUEENS
                  p.pb-4 The Historic Two Queen Bed Room is our largest double bedded room at the Sonora Inn. Perfect for your whole family, the Historic Two Queen Bedroom features two large, comfortable queen beds and one of our largest floor plans for you to stretch out and enjoy your stay.
                a.book-button(href="products.html/#ada-room") book this room              
      
      
      
      
      section.pb-5
        .container.pt-5.mt-4
          .row
            .col-12.px-0.px-sm-3
              .rooms-slider
                .item
                  img(src="media/room1.jpg")
                .item
                  img(src="media/room2.jpg")
                .item
                  img(src="media/room3.jpg")
              .rooms-hero
                .room-hero-text-box.pt-3.pt-sm-4
                  p.louzie-italic.mb-2 Starting from 19$ per night
                  h2.mb-3 historic KING SUITE ROOM
                  p.pb-4 For your next special upcoming trip to the Yosemite, CA area, choose our Historic King Suite.  This extra large suite features our largest single occupancy room floor plan on our top floor with beautiful Victorian touches, special seating area and some rooms also feature a private vanity.
                a.book-button(href="products.html/#ada-room") book this room        
                
                
                
      section.pb-5
        .container.pt-5.mt-4
          .row
            .col-12.px-0.px-sm-3
              .rooms-slider
                .item
                  img(src="media/room1.jpg")
                .item
                  img(src="media/room2.jpg")
                .item
                  img(src="media/room3.jpg")
              .rooms-hero
                .room-hero-text-box.pt-3.pt-sm-4
                  p.louzie-italic.mb-2 Starting from 19$ per night
                  h2.mb-3 historic TWO ROOM SUITE
                  p.pb-4 The Sonora Inn’s Historic Two Room Suite is made up of our Historic King Bed and Historic Queen Bedroom types making one large two room suite.  Perfect for your next large family trip, the Historic Two Room Suite provides ultimate comfort, privacy and additional space you need to stretch out.
                a.book-button(href="products.html/#ada-room") book this room  
                
                
      .py-5
                
              

                    
                    
                    
      
      
      
      
      
       
        
        
      include footer
              
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    script(src="js/jquery.min.js")      
    script(src="js/slick.min.js")
    script(src="js/script.js")